<!DOCTYPE html>

<html ng-app="app">

<head>
    <title>title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css">

    <style>
        .vis {
            width: 1000px;
            height: 800px;
        }
    </style>
</head>
<body>
<div ng-view="">

</div>

<script Type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
<script Type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
<script Type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.js" ></script>
<script Type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.js"></script>

<script Type="text/javascript" src="app/app.js"></script>
<script Type="text/javascript" src="app/directives/vis.js"></script>
<script Type="text/javascript" src="app/services/graphService.js"></script>
<script Type="text/javascript" src="app/controllers/graphController.js"></script>
</body>
</html>